@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Macondo&family=Montserrat:wght@300;400;500;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* HEADER */

.header {
  padding-top: 230px;
  padding-bottom: 72px;
  position: relative;
  overflow: hidden;
}

.header__body {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 40px;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__column {
  display: flex;
  flex-direction: column;
}

.header__column-left {
  max-width: 640px;
}

.header__column-right {
  row-gap: 25px;
}

.header__title {
  font-family: 'Macondo';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 113px;
  display: flex;
}

.header__title span {
  display: none;
}

.header__text {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.header__button {
  margin-top: 25px;
  background: #000000;
  border-radius: 30px;
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  padding: 8px 0;
  text-align: center;
  max-width: 360px;
  transition: all 0.3s ease-in-out;
}

.header__button:hover {
  transform: scale(1.03);
}

.header__baza {
  margin-top: 250px;
  max-width: 89px;
}

.social-item {
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}

.social-item:hover {
  opacity: 1;
}

.header__go-to-towns {
  padding: 8px 58px;
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  background: #fff;
  color: #000000;
  box-shadow: 0px 15px 29px -6px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  animation: pulse 1.25s infinite;
}

.header__go-to-towns:hover {
  animation: none;
  transform: scale(1.05);
}

.go-to-towns-wrapper {
  display: flex;
  justify-content: center;
}

.header__image {
  max-width: 100%;
  position: absolute;
  top: 104px;
  z-index: -1;
  left: max(550px, 40%);
}

@media (max-width: 768px) {
  .header {
    padding-top: 55px;
    padding-bottom: 0;
  }

  .header__content {
    flex-direction: column;
    align-items: center;
  }

  .header__column-right {
    display: none;
  }

  .header__column-left {
    align-items: center;
    max-width: 100%;
  }

  .header__title {
    order: 1;
    font-size: 48px;
    line-height: 57px;
    justify-content: center;
  }

  .header__content span {
    display: block;
    margin-left: 0.75rem;
  }

  .header__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    max-width: 340px;
    order: 2;
  }

  .header__button {
    display: none;
  }

  .go-to-towns-wrapper {
    display: none;
  }

  .header__baza {
    max-width: 38px;
    margin-top: 0;
    order: 0;
    margin-bottom: 9px;
  }

  .header__image {
    position: static;
    margin-top: -25px;
    max-width: 354px;
  }
}

@media (max-width: 450px) {
  .header {
    padding-top: 55px;
    padding-bottom: 0;
  }

  .header__content {
    flex-direction: column;
    align-items: center;
  }

  .header__column-right {
    display: none;
  }

  .header__column-left {
    align-items: center;
    max-width: 100%;
  }

  .header__title {
    order: 1;
    font-size: 32px;
    line-height: 38px;
    justify-content: center;
  }

  .header__content span {
    display: block;
    margin-left: 0.75rem;
  }

  .header__text {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    max-width: 280px;
    order: 2;
  }

  .header__button {
    display: none;
  }

  .go-to-towns-wrapper {
    display: none;
  }

  .header__baza {
    max-width: 38px;
    margin-top: 0;
    order: 0;
    margin-bottom: 9px;
  }

  .header__image {
    position: static;
    margin-top: -25px;
    max-width: 236px;
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

/* TOUR */

.tour {
  background-color: #000000;
  padding-top: 146px;
  padding-bottom: 163px;
}

.tour__body {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.tour__title {
  font-family: 'Macondo';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;
  color: #fff;
  text-align: center;
}

.tour__info {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 0 100px;
  margin-top: 43px;
  margin-bottom: 58px;
}

.tour__content {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.tour__column {
  display: flex;
  flex-direction: column;
  min-width: 0;
  row-gap: 22px;
}

.tour__column-item {
  display: flex;
  align-items: center;
  min-width: 0;
  height: 56px;
}

.tour__item {
  width: 100%;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: space-between;
}

.tour__item-date {
  color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.tour__item-city {
  margin-left: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tour__item-club {
  margin-left: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tour__item-vk-group {
  color: #fff;
  margin-right: 20px;
}

.tour__item-tickets {
  background: #ffffff;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 16px 74px;
  color: #000000;
  text-align: center;
}

.tour__item-tickets,
.tour__item-vk-group {
  transition: all 0.3s ease-in-out;
}

.tour__item-tickets:hover,
.tour__item-vk-group:hover {
  transform: scale(1.05);
}

@media (max-width: 1060px) {
  .tour__item-club {
    display: none;
  }

  .tour__item-tickets {
    padding: 16px 50px;
  }

  .tour__item-city {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .tour {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  .tour__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tour__title {
    display: none;
  }

  .tour__info {
    order: 1;
    margin: 0;
    margin-top: 31px;
    font-size: 15px;
    line-height: 18px;
    padding: 0 35px;
  }

  .tour__column-item {
    height: 40px;
  }

  .tour__item-date {
    font-weight: 700;
    font-size: 22px;
    line-height: 0px;
  }

  .tour__item-city {
    margin-left: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }

  .tour__item-vk-group {
    width: 40px;
  }

  .tour__item-tickets {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding: 9px 22px;
    background: #ffffff;
    border-radius: 3px;
  }

  .tour__column {
    display: flex;
    flex-direction: column;
    min-width: 0;
    row-gap: 7px;
  }
}

@media (max-width: 450px) {
  .tour__title {
    display: none;
  }

  .tour__info {
    order: 1;
    margin: 0;
    margin-top: 31px;
    font-size: 10px;
    line-height: 12px;
  }

  .tour__column-item {
    align-items: center;
    height: 24px;
  }

  .tour__item-date {
    font-weight: 700;
    font-size: 15px;
    line-height: 0px;
  }

  .tour__item-city {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }

  .tour__item-vk-group {
    margin-top: 2px;
    width: 24px;
  }

  .tour__item-tickets {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    padding: 6px 15px;
    background: #ffffff;
    border-radius: 3px;
  }

  .tour__column {
    display: flex;
    flex-direction: column;
    min-width: 0;
    row-gap: 15px;
  }
}

/* MERCH */

.merch {
  padding-top: 80px;
  padding-bottom: 120px;
  position: relative;
  overflow: hidden;
}

.merch__body {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.merch__content {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.merch__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.march__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  margin-bottom: 56px;
}

.merch__item-image img {
  max-width: 100%;
  display: flex;
}

.merch__item-description {
  margin-top: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: end;
}

.merch__item-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.3);
}

.merch__item-price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  margin: 12px 0 33px 0;

  color: #000000;
}

.merch__item-button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 16px 74px;
  color: #ffffff;
  background: #000000;
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .merch__item {
    width: calc(50% - 25px);
  }

  .merch__content {
    justify-content: start;
    row-gap: 50px;
    column-gap: 50px;
  }
}

.merch__item-image--tshirt {
  margin-top: 25px;
}

@media (max-width: 768px) {
  .march__title {
    font-size: 30px;
    line-height: 36px;
  }

  .merch__item-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
  }

  .merch__item-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
  }

  .merch__item-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding: 11px 30px;
  }
}

@media (max-width: 450px) {
  .merch__item-image img {
    max-height: 150px;
  }

  .march__title {
    font-size: 20px;
    line-height: 24px;
  }

  .merch__item-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
  }

  .merch__item-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }

  .merch__item-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    padding: 7px 20px;
  }
}

.footer {
  padding-top: 82px;
  padding-bottom: 85px;
  background-color: #000000;
}

.footer__body {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer__top {
  display: flex;
}

.footer__creators {
  margin-left: 28px;
  margin-bottom: -3px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  justify-content: end;
}

.footer__social {
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
  color: #fff;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.footer__bottom {
  display: flex;
  margin-top: 51px;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 13px;
  flex-wrap: wrap;
}

.footer__social a {
  margin-left: 6px;
  text-decoration-line: underline;
  color: #fff;
}

@media (max-width: 768px) {
  .footer__top img {
    max-width: 75px;
  }

  .footer__creators {
    font-size: 9px;
    line-height: 10px;
    margin-bottom: -1px;
  }

  .footer__social {
    font-size: 15px;
    line-height: 18px;
  }

  .footer__social-vk {
    order: 0;
  }

  .footer__social-tg {
    order: 2;
  }

  .footer__social-mail {
    order: 1;
  }

  .footer__social-phone {
    order: 4;
  }
}

@media (max-width: 450px) {
  .footer__top img {
    max-width: 49px;
  }

  .footer__social {
    font-size: 10px;
    line-height: 12px;
  }

  .footer__creators {
    font-size: 6px;
    line-height: 7px;
    margin-left: 12px;
    margin-bottom: 0;
  }
}
